<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488132868808-q8knp2tbv18fhlf7qqdhj5ggevr8de0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488132868808-q8knp2tbv18fhlf7qqdhj5ggevr8de0u</string>
	<key>API_KEY</key>
	<string>AIzaSyCqpQbvIrYkOS74Igl2Vx232ajrpcPZEMw</string>
	<key>GCM_SENDER_ID</key>
	<string>488132868808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-bf</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488132868808:ios:ba2205dc2b7b1b51bcc3fd</string>
</dict>
</plist>